<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
      <!--  <add name="bloodbankConnectionString" connectionString="Data Source=DESKTOP-9H67JG1\SQLEXPRESS;Initial Catalog=bloodbank;User ID=sa;Password=root"
          providerName="System.Data.SqlClient" />
        <add name="bloodbankConnectionString2" connectionString="Data Source=DESKTOP-9H67JG1\SQLEXPRESS;Initial Catalog=bloodbank;Integrated Security=True"
            providerName="System.Data.SqlClient" />
 -->        <add name="bloodbankConnectionString" connectionString="Data Source=SHREY-PC\SQLEXPRESS;Initial Catalog=bloodbank;User ID=sa;Password=shreyas123"
            providerName="System.Data.SqlClient" />  
        <add name="bloodbankConnectionString2" connectionString="Data Source=SHREY-PC\SQLEXPRESS;Initial Catalog=bloodbank;Integrated Security=True"
            providerName="System.Data.SqlClient" />
  </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  
<appSettings>

  <add key="ValidationSettings:UnobtrusiveValidationMode" value="none"/>

</appSettings>

</configuration>
